.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  form{
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1301px) {
  form{
    width: 80%;
    margin: 0 auto;
  }
}
@media print {
  fieldset#historico{
    display: block;
    position: relative;
    page-break-inside:avoid;
  }
}
#historico{
  display: none;
}
.obs{
  color:red;
  size: 0.1rem;
}

legend{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.adiciona{
  height: 10%;
}

